@font-face {
  font-family: "Roboto Medium";
  src: url("materials/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Light";
  src: url("materials/fonts/Roboto-Light.ttf");
}

header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 3px gray;

  .dropbtn {
    width: 40px;
    height: 40px;
    margin: 0 35px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
  }

  .dropbtn:hover {
    background-color: rgb(221, 221, 221);;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  h1 {
    margin-right: auto;
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.87);
  }

  .right-menu {
    height: 100%;
    margin: 0 25px;
    display: flex;
  }

}

main {
  width: 100%;
  height: 650px;
  padding-top: 73px;
  display: flex;
  justify-content: space-between;

  .user-panels {
    display: flex;
    flex-direction: column;
    margin: 25px;
    justify-content: space-between;
  }

  .user-panels__tools-palette {
    padding: 15px 0;
    border: 1px solid gray;
    box-shadow: 1px 4px 4px gray;
  }

  .user-panels__fill-area-tool,
  .user-panels__choose-color-tool,
  .user-panels__move-tool,
  .user-panels__transform-tool {
    display: flex;
    align-items: center;
    padding: 12px 25px;

    span {
      margin-left: 30px;
      font-family: "Roboto Light", sans-serif;
    }
  }

  .user-panels__colors-palette {
    padding: 15px;
    border: 1px solid gray;
    box-shadow: 1px 4px 4px gray;
  }

  .user-panels__current-color,
  .user-panels__previous-color,
  .user-panels__red-input,
  .user-panels__blue-input {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .user-panels__current-color,
  .user-panels__previous-color,
  .user-panels__red-input,
  .user-panels__blue-input {
    span {
      margin-left: 15px;
      font-family: "Roboto Light", sans-serif;
    }
  }

  .user-panels_color-value {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
  }

  .current-color,
  .previous-color {
    background-color: #FFFFFF;
  }

  .red {
    background-color: #FF0000;
  }

  .blue {
    background-color: #2565AE;
  }

  .switch {
    font-family: Arial, Tahoma, serif;
    font-size: 21px;
  }

  form {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .picture-choice {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  label {
    margin-right: 15px;
    line-height: 32px;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;

    position: relative;
    top: 4px;
  }

  input:checked {
    border: 6px solid black;
  }

}